<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <div class="row">
            <a class="col navbar-brand" href="#">Money Lover</a>
            @await  Component.InvokeAsync("UserNavbar")
        </div>
       
    </div>

    <div class="row m-1 p-1">
        <div class="col-3 mt-3">
            @await  Component.InvokeAsync("Menu")
        </div>
        <div class="col-9 mt-3">
            @if (TempData["message"]!=null)
            {
                <div class="alert alert-success">@TempData["message"]</div> 
            }
            @RenderBody()
        </div>
    </div>
    
</body>
</html>