@model string

<li class="nav-item ml-auto">
    

    <a asp-action="Logout" asp-controller="Account" class="text-white nav-link">
        Welcome @Model
        <i class="fa fa-sign-out" aria-hidden="true"></i>
    </a>

</li>